<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main"
      text="Takaisin">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="kortti">
  <p>
    Pointsin ideana on tarjota käyttäjälleen alennusta Pointsin tarjoamista palveluista. Jakamalla Instagramin tarinaasi kuvan tuotteesta tai palvelusta, jonka olet ostanut, saat siitä palkkioksi pisteitä. 
  </p>
 
  <p class="p">Näitä pisteitä voit käyttää kaikissa paikoissa, jotka käyttävät Pointin palvelua. Sinulla täytyy olla vähintään 50 pistettä.</p>
  <br>
  <p class="hed">
    Kuinka kerään pisteitä?
  </p>
  <p class="p">
    1.	Paina kamerapainikkeesta <br>
    2.	Ota kuva tuotteesta tai palvelusta, jonka olet ostanut <br>
    3.	Arvostele saamasi palvelu <br>
    4.	Lisää kuva Instagramisi tarinaan
  </p>
<br>
  <p class="hed">
    Kuinka käytän pisteitä? <br>
  </p>
  <p class="p">
    1.	Mene etusivulle ja valitse kohde missä olet<br>
    2.	Mene kassalle ja anna kassahenkilökunnan valita vähennettävä pistemäärä ja painaa ”käytä pisteitä”- näppäintä
  </p>
  <br>
  <p class="p"> Antoisia elämyshetkiä Pointsin parissa.</p>
  </ion-card>
</ion-content>
