<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="register"
      text="Takaisin">
      </ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <h1>1. Käyttöehdot</h1>
  <p>Viimeksi päivitetty 22.4.2020</p>
  <h2>Lyhyesti</h2>
  <p>
    Näitä Käyttöehtoja ja jäljempänä kuvattua Tietosuojakäytäntöä 
    (yhdessä “Ehdot”) sovelletaan Pointsi:n, osoite: Mallikatu 1 A 1, 
    90130 Oulu välillä liittyen sinun Pointsi palvelun käyttöön (“Palvelu”).
  </p>
  <p>Luethan nämä Ehdon huolellisesti ennen Palvelun käytön aloittamista.</p>
  <p>
    Palvelun käytön edellytyksenä on näiden Ehtojen hyväksyminen ja noudattaminen. 
    Palvelua käyttämällä hyväksyt nämä Ehdot ja sitoudut toimimaan niiden mukaisesti. 
    Näitä Ehtoja sovelletaan kaikkiin Palvelua käyttäviin, mukaan lukien sinuun.
  </p>
  <p>
    Me voimme kerätä ja käyttää henkilötietojasi Palvelun tarjoamiseksi. 
    Kaikkeen henkilötietojen käsittelyyn sovelletaan jäljempänä olevaa Tietosuojakäytäntöä.
  </p>
  <p>
    Avaamalla Palvelun tai käyttämällä Palvelua, hyväksyt ja sitoudut noudattamaan näitä Ehtoja. 
    Jos vastustat näitä Ehtoja tai niiden osaa, sinulla ei ole oikeutta avata ja käyttää Palvelua.
  </p>
  <h2>Käyttäjätili</h2>
  <p>
    Luodessasi käyttäjätilin Palveluun sinun tulee antaa meille paikkansa pitävät, 
    täydelliset ja ajantasaiset tiedot. Mikäli luovuttamasi tiedot eivät täytä näitä vaatimuksia, 
    tämä katsotaan näiden Ehtojen rikkomiseksi, joka voi johtaa käyttäjätilisi sulkemiseen Palvelussa.
  </p>
  <p>
    Sinä olet yksin vastuussa käyttäjätilisi toimista Palvelussa sekä sen mahdollisesti aiheuttamista vahingoista. 
    Sinä olet vastuussa laitteesi ja niiden tietojesi (kuten käyttäjätunnus ja salasana) suojaamisesta, 
    joilla käytät Palvelua tai joilla kirjaudut Palveluun tai joita hyödyntämällä voit käyttää Palvelua tai tunnistautua Palvelussa. 
    Sinulla ei ole oikeutta luoda useita käyttäjätilejä tai käyttäjätiliä muille kuin itsellesi.
  </p>
  <p>
    Sitoudut siihen, että et luovuta henkilökohtaista käyttäjätunnustasi, salasanaasi 
    tai muita Palveluun kirjautumiseen tai tunnistautumiseen käytettäviä käyttäjätietojasi 
    kenellekään kolmannelle osapuolelle. Sitoudut ilmoittamaan meille välittömästi, 
    mikäli tietoosi tulee tietoturvarikkomus tai jos epäilet jonkun käyttävän käyttäjätiliäsi oikeudetta.
  </p>
  <h2>Palvelu</h2>
  <p>
    Palvelu saattaa sisältää mainontaa ja markkinointia. 
    Käyttämällä Palvelua suostut siihen, että me ja kolmannet osapuolet 
    voivat tehdä mainontaa ja erilaisia markkinointitoimia Palvelun käytön yhteydessä.
  </p>
  <p>
    Palvelu sisältää rekisteröitymisen ja profiilin luomisen. Sinä olet vastuussa kaikista laitteista, 
    järjestelmistä, sovelluksista, yhteyksistä ja ohjelmistoista, joita käytät Palvelun yhteydessä kuten 
    esimerkiksi niiden toiminnallisuudesta ja yhteensopivuudesta Palvelun kanssa ja niiden soveltuvuudesta 
    tiettyyn käyttötarkoitukseen. Olet vastuussa siitä, että sinun laitteesi, sovellukset, käyttöjärjestelmät, 
    yhteydet ja data, jonka yhdistät ja/tai lataat Palveluun, ei aiheuta ongelmia Pointsille. 
    Sinä olet vastuussa tiedoistasi sekä käyttämästäsi tietoliikenteestä ja tietojärjestelmistä 
    sekä niiden luottamuksellisuudesta ja suojaamisesta.
  </p>
  <p>
    Meillä on milloin tahansa oikeus muuttaa, muokata ja päivittää Palvelua tai mitä tahansa osaa Palvelusta. 
    Pyrimme kohtuullisin keinoin tiedottamaan sinulle etukäteen olennaisista muutoksista Palveluun, 
    jotka voisivat vaikuttaa Palvelun käyttöä haittaavasti.
  </p>
  <p>
    Sinulla ei ole oikeutta tehdä Palvelun taustajärjestelmiin liittyviä automatisoituja kyselyitä.  
  </p>
  <h2>Immateriaalioikeudet</h2>
  <p>
    Kaikki oikeudet Palveluun, sen alkuperäiseen sisältöön, ominaisuuksiin ja toiminnallisuuksiin 
    sekä niiden myöhempiin muutoksiin kuuluvat Pointsi:lle. Palvelu on suojattu tekijänoikeuksin Suomessa. 
    Ellei sovellettavassa lainsäädännössä toisin säädetä, sinulla ei ole oikeutta purkaa, murtaa tai muuten 
    selvittää Palvelun suunnittelua, toimintalogiikkaa, rakennetta tai toiminnallisuuksia 
    (mukaan lukien algoritmit ja lähdekoodi) tai jakaa Palvelua edelleen.  
  </p>
  <p>
    Antamalla meille palautetta Palveluun mahdollisesti liittyvistä virheistä, ongelmista tai 
    muista vastaavista tai Palvelun kehittämisideoista siirrät meille kaikki oikeudet 
    kyseiseen palautteeseen kuten esimerkiksi oikeuden käyttää antamaasi palautetta meidän parhaaksi katsomalla tavalla.
  </p>
  <h2>Linkit muille sivustoille</h2>
  <p>
    Palvelu saattaa sisältää linkkejä kolmansien osapuolten internetsivuille tai palveluihin, jotka eivät ole Pointsin omistamia tai hallinnoimia.
  </p>
  <p>
    Pointsi ei voi vaikuttaa, eikä se ota mitään vastuuta kolmansien osapuolten internetsivujen tai palveluiden sisällöstä, 
    yksityisyydensuojasta tai käytännöistä. Hyväksyt, että Pointsi ei ole millään tavoin vastuussa suoraan tai epäsuorasti mistään
     vahingosta tai väitetystä vahingosta, joka johtuu tai joka liittyy kolmansien
     osapuolten internetsivujen tai muiden palveluiden kautta hankittuihin tuotteisiin, sisältöön tai palveluihin. 
  </p>
  <p>
    Suosittelemme, että perehdyt käyttämiesi kolmansien osapuolten 
    tuottamien palveluiden käyttöehtoihin ja tietosuojakäytäntöihin.
  </p>
  <h2>Irtisanominen</h2>
  <p>
    Meillä on oikeus ilman ennakkovaroitusta tai mitään vastuuta irtisanoa välittömin vaikutuksin 
    nämä Ehdot ja käyttäjätilisi, estää pääsy Palveluun tai rajoittaa Palvelun käyttöä sinun osaltasi, 
    milloin tahansa jos esimerkiksi rikot Ehtoja.Irtisanomisen yhteydessä sinun oikeutesi käyttää 
    Palvelua päättyy välittömästi. Jos haluat poistaa käyttäjäprofiilisi ja lopettaa Palvelun käytön, 
    voit tehdä sen pyytämällä käyttäjätilin poistoa Sturentilta tai lopettamalla Palvelun käytön. 
  </p>
  <h2>Vastuunrajoitus</h2>
  <p>
    Sovellettavan lainsäädännön rajoissa Pointsi tai sen johtajat, työntekijät, kumppanit, agentit, 
    toimittajat tai konserniyhtiöt eivät ole vastuussa mistään välittömistä tai välillisistä vahingoista 
    kuten esimerkiksi menetetystä liikevaihdosta tai voitosta, tietojen katoamisesta, maineen menetyksestä 
    tai muista vahingoista, jotka johtuvat (i) pääsystäsi Palveluun, Palvelun käytöstäsi tai siitä, että et 
    voi käyttää Palvelua; (ii) kolmannen osapuolen toimista tai kolmansien osapuolten sisällöstä; 
    (iii) sisällöstä, joka on hankittu Palvelusta tai liiketoimista tai muista toimista, joita suoritetaan
     Palvelun kautta; ja (iv) luvattomasta käytöstä, pääsystä tai sisällön muokkauksesta riippumatta 
     siitä, mistä perusteesta vahinko johtuu ja onko meitä tiedotettu tällaisen vahingon mahdollisuudesta.  
  </p>
  <p>
    Palvelu ei sisällä, eikä Sturent ole vastuussa mistään datan tai sisällön säilyttämisestä. 
    Sinä olet vastuussa varmuuskopioiden ottamisesta ja tiedon tallentamisesta samoin kuin kyseisen 
    tiedon ja sisällön toimivuudesta. Sovellettavan lainsäädännön rajoissa Sturent ei ole vastuussa mistään 
    tietojen tai sisällön katoamisesta, tuhoutumisesta tai muuttumisesta tai tähän 
    liittyvistä kustannuksista, kuten esimerkiksi tiedostojen palauttamiseen tai uudelleen luomiseen liittyvistä kustannuksista.
  </p>
  <h2>Vastuuvapaus</h2>
  <p>
    Sinä käytät Palvelua täysin omalla vastuullasi. Palvelu on tarjottu sinulle sellaisenaan, kun se on. 
    Palvelu tarjotaan sinulle ilman mitään takuita, kuten esimerkiksi takuuta 
    Palvelun sopivuudesta tiettyyn käyttötarkoitukseen, oikeuksien loukkaamattomuudesta tai Palvelun toiminnallisuudesta.
  </p>
  <p>
    Sinä käytät Palvelua täysin omalla vastuullasi. Palvelu on tarjottu sinulle sellaisenaan, kun se on. 
    Palvelu tarjotaan sinulle ilman mitään takuita, kuten esimerkiksi takuuta 
    Palvelun sopivuudesta tiettyyn käyttötarkoitukseen, oikeuksien loukkaamattomuudesta tai Palvelun toiminnallisuudesta.
  </p>
  <h2>Sovellettava lainsäädäntö</h2>
  <p>
    Näihin Ehtoihin sovelletaan Suomen lakia pois lukien sen lainvalintaa koskevat säännökset.
  </p>
  <p>
    Näihin Ehtoihin liittyvät erimielisyydet pyritään ensisijaisesti ratkaisemaan osapuolten välisin neuvotteluin. 
    Mikäli erimielisyyttä ei kyetä ratkaisemaan osapuolten välisissä neuvotteluissa, 
    erimielisyys ratkaistaan lopullisesti Helsingin käräjäoikeudessa.
  </p>
  <p>
    Kuluttaja voi saattaa näitä Ehtoja koskevan erimielisyyden kuluttajariitalautakunnan ratkaistavaksi 
    (www.kuluttajariita.fi). Ennen asian viemistä kuluttajariitalautakunnan käsittelyyn kuluttajan tulee 
    olla yhteydessä maistraattien kuluttajaneuvontaan (www.kuluttajaneuvonta.fi).
  </p>
  <p> 
    Vaikka emme välittömästi ryhtyisi mihinkään toimiin Ehtojen rikkomisen johdosta, tämä ei tarkoita sitä, 
    että luopuisimme mistään oikeuksistamme. Mikäli jotain Ehtojen määräystä ei pidettäisi pätevänä tai täytäntöönpanokelpoisena, 
    tämä ei millään tavalla vaikuta muihin Ehtojen määräysten voimassaoloon. Nämä Ehdot muodostavat osapuolten välisen Palvelua koskevan 
    sopimuksen ja kumoavat kaikki osapuolten välillä mahdollisesti ennen sopimuksen voimaantuloa tehdyt aiemmat Palvelua koskevat sopimukset.
  </p>
  <p>
    Meillä on oikeus siirtää nämä Ehdot ja/tai niihin liittyvät oikeudet tai velvollisuudet konserniyhtiöllemme tai 
    kolmannelle osapuolelle ilman velvollisuutta ilmoittaa tästä ennakkoon.
  </p>
  <h2>Muutokset</h2>
  <p>
    Pidätämme kaikki oikeudet näitä Ehtoja koskeviin muutoksiin. Jos muutos on olennainen, pyrimme tiedottamaan niistä 
    vähintään 30 päivää ennen Ehtojen muuttumista. Pidätämme kaikki oikeudet määrittää sen mikä on olennainen muutos.
  </p>
  <p>
    Palvelun käyttämistä jatkamalla hyväksyt myös tarkistetut ja muutetut Ehdot. 
    Jos et hyväksy uusia Ehtoja, ole hyvä ja lopeta Palvelun käyttäminen.
  </p>
  <h2>Yhteystiedot</h2>
  <p>Mikäli sinulla on kysymyksiä näistä Ehdoista, otathan meihin yhteyttä.</p>
  <div class="hr"></div>

  <h1>2. Tietosuojaseloste</h1>
  <p>EU:n yleisen tietosuoja-asetuksen (679/2016) mukainen selvitys henkilötietojen käsittelystä</p>
  <h2>Rekisterinpitäjä</h2>
  <p>
    Pointsi
    <br>
    Mallitie 1 A 1
    <br>
    90130 Oulu
    <br>
    info@pointsi.fi
    <br>
    040 1234567
  </p>
  <h2>Tietosuoja-asioita koskevat yhteydenotot</h2>
  <p>

  </p>
  <h2>Henkilörekisterin nimi</h2>
  <p>Pointsi</p>
  <p>
    Henkilötietojen käsittelyn oikeusperusteena on rekisteröidyn antama suostumus henkilötietojen käsittelyyn.
  </p>
  <h2>Säännönmukaiset tietolähteet</h2>
  <p>Henkilörekisteriin merkittävät tiedot saadaan säännönmukaisesti rekisteröidyltä itseltään.</p>
  <h2>Käsiteltävät henkilötiedot</h2>
  <p>
    Rekisterinpitäjä kerää rekisteröidyistä vain sellaisia henkilötietoja, jotka ovat olennaisia 
    ja tarpeellisia tässä tietosuojaselosteessa selostettujen käyttötarkoitusten kannalta.
  </p>
  <p>
    Rekisteröidyistä käsitellään seuraavia tietoja:
  </p>
  <p>
    -	Rekisteröidyn etu- ja sukunimi;
    <br>
    -	Rekisteröidyn kotipaikka;
    <br>
    -	Rekisteröidyn sähköpostiosoite;
    <br>
    -	Rekisteröidyn puhelinnumero;
    <br>
    -	Rekisteröidyn nimimerkki;
    <br>
    -	Rekisteröidyn kerätyt pisteet;
    <br>
    -	Sähköisen viestinnän tunnistetiedot
  </p>
  <h2>Henkilötietojen luovuttaminen</h2>
  <p>
    Henkilötietoja ei luovuteta ulkopuolisille, ellei laissa aseteta siihen velvoitetta. 
    Tietoja voidaan siis poikkeuksellisesti luovuttaa esimerkiksi viranomaisille lain vaatimuksesta.
  </p>

</ion-content>
