ion-back-button {
  --color: black;
}



ion-icon {
    padding-right: 10px;
}

ion-item{ 
  --border-color: #80deea; 
}

ion-card-title {
    color: #80deea;
    font-family: "Arial";
    text-align: center;
    padding-top: 10px;
}


  .pointsi {
      text-align: center;
      padding-top: 50px;
      
  }

  .ion-color-button {
    --ion-color-base: #424a4b;
    color:#80deea;
  }
  


  ion-content{
    --background: #fff url('../../assets/pallot1.png') no-repeat center center / cover;
}

#kortti {
  padding:10px;
}
#register {
  margin-top: 10px;
}
#tos {
  margin:20px;
}
#tosText {
  margin-left: 5px;
  margin-top: 5px;
}


 